// Personal Style Normalize
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  background: rgb(87, 59, 0);
  height: 100vh;
  width: 100%;
  // background: url(https://i.pinimg.com/originals/76/89/c5/7689c5513084cd3ae199cec4f9b84af3.jpg);
  // background-repeat: no-repeat;
}