// Personal Style Normalize
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  background: linear-gradient(#0004,#0004), url(https://i.pinimg.com/originals/76/89/c5/7689c5513084cd3ae199cec4f9b84af3.jpg) top/cover no-repeat;
  color: #ddd;
  height: 100vh;
  padding: 3% 10% 0;
  width: 100%;
}

#header-nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
  .links {
    display: flex;
    .n-li {
      list-style: none;
      padding: 0 10px;
      .n-link {
        color: #ddd;
        text-decoration: none;
      }
    }
  }
}

#headline {
  margin: 12% auto 0;
  text-align: center;
  .headline-h { padding-bottom: 35px; }
}