// Personal Style Normalize
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

#content {
  background: linear-gradient(#0004,#0004), url(https://i.pinimg.com/originals/76/89/c5/7689c5513084cd3ae199cec4f9b84af3.jpg) top/cover no-repeat;
  color: #ddd;
  height: 100vh;
  padding: 3% 10% 0;
  position: relative;
  width: 100%;
}

#header-nav {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 20px 0;
  .logo { width: 100px; }
  .n-li { width: 90px; }
}
.menuLinks { margin-bottom: 10px; }
.links {
  display: flex;
  &, .menuLinks {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .n-li {
    list-style: none;
    padding: 0 10px;
    &, .menu-li { margin-bottom: 5px; }
    .n-link {
      color: #ddd;
      text-decoration: none;
    }
  }
}

#headline {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 30%;
  .headline-h { padding-bottom: 35px; }
  #headline-d {
    background: linear-gradient(#e1cdb7b0, #ffffffd6);
    border: 1px solid #fff;
    color: #000;
    margin: 20px auto 0;
    padding: 12px 0 22px;
    width: 80%;
  }
}
